* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

body{
    background-color: black;
    display: flex;
    width: 100%;
    height: 100vh;
}

#titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#formulario{
    margin: auto;
    font-family: inherit;
    max-width: 400px;
    width: 90%;
    background-image: url(../img/Cartas/reverso/depositphotos_16800109-stock-photo-glowing-paper.jpg);
    background-size: cover;
    padding: 2.5em 1em;
    border: solid rgb(100, 6, 6) 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#formulario_contenedor{
    display: grid;
    grid-auto-columns: 100%;
    width: 100%;
    gap: 1em;
}

.input{
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#formulario_contenedor textarea{
    resize: none;
    padding: 1.5em 1em;
    margin-bottom: 1em;
}

#boton_enviar{
    font-size: 1.5em;
}

