* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: black;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1em;
  flex-wrap: wrap;
}

img {
  width: 57%;
}

#banner {
  width: 100%;
}

.button {
  width: 250px;
  color: rgb(129, 21, 21);
  text-align: center;
}
